#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 80rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg {
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
} 

.introContent {
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #EBC839;
}


.introPara {
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 17px;
}

.btn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #EBC839;
}

.downloadImg {
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    margin-left: 0.5rem;
}

@media screen and (max-width:840px){
    .bg {
        right: -10vw;
    }

    .introContent {
        font-size: 10vw;
    }

    .hello {
        font-size: 4.5vw;
    }
    
}

@media screen and (max-width:480px){
    .bg {
        right: -20vw;
    }
}